################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/parsehexframes/v16
/parseframe/bin/Debug
/parseframe/obj/Debug
/parsehexframes
/parseframe
/.vs
